[submodule "+discretisationMethods"]
	path = discretisationMethods
	url = git@github.com:PaulAlexander23/matlab-discretisation-methods.git
[submodule "matlab-time-stepping-methods"]
	path = timeSteppingMethods
	url = git@github.com:PaulAlexander23/matlab-time-stepping-methods.git
